
<form [formGroup]="basicForm">
  <div class="row">
    <div class="col">
      <div class="form-group">

        <label for="id">Enter folder ID</label>
        <input class ="form-control" id="id" formControlName="id">


        <button type="submit" class="btn-primary" (click)="content();">
          GET BY ID
        </button>

      </div>
    </div>
  </div>
</form>

