.btn-primary{
  background-color: #008CBA;
  color: white;
  padding: 10px 24px;
}
.btn-primary:hover{

  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: 10px 24px;
}
