<h2>List of folders available:</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Path</th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let folder of folders">
        <td>{{folder.id}}</td>
        <td>{{folder.path}}</td>
      </tr>
  </tbody>

</table>
<button type="submit" class="btn btn-primary" (click)="fetch()">GET</button>
