<div class="row" >
  <div class="col-5">
    <a [routerLink]="['/list']" class="button fancy-button text-color-white">Folders available</a>
  </div>
  <div class="col-5">
    <a [routerLink]="['/content']" class="button fancy-button text-color-white">Content of folder</a>
  </div>
</div>
